body{
  background-color: #8FBC8F;
}


#container {
  width=100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
}
hr {

    border: 0px;
    height: 2px;
    width: 100%;
    background: black;
}
#wrapper {
  display: flex;            /* establish flex container */
  flex-direction: column;   /* stack flex items vertically */
  position: relative;       /* establish neares positioned ancenstor for absolute positioning */

}
h1 {
  color: #9370DB;
  font-size: 5em;
  font-family: cursive;
  background-color: #F0FFF0;
  opacity: 0.85;
  border-radius: 0.25em;

}


.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}


.center-aligned {
  display: flex;
  align-items: left;
  justify-content: left;
}


nav {
font-family: cursive;
font-weight: lighter;
margin-top: -0.50em;
text-align: center;
border-radius: 0.25em;
border-color: #1d1d1c;
}
nav ul {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

}
nav li {
  background-color:#F5DEB3;
  border-radius: 2em;
  list-style-type: none;
  margin: 0.3em;
  padding: 0.4em;
}
nav li a {
  color: #1d1d1c;
  font-size: 1em;
  text-decoration: none;
}
h2{
padding-left: 2em;
  margin-top: 4em;
  color: #2F4F4F;

}


/* section, aside {
  float: left;
  margin: 0 1.5%;
  width: 63%;
} */
/* aside{
  float: right;
  margin: 0 1.5%;
  width: 30%;
} */
article{
  float: left;
  margin: 0 1.5%;
  width: 60%;
  background-color: #F0FFF0;
  border-radius: 20%;
}
footer {
  clear: both;
  margin-bottom: 0;
  text-align: center;
}
p{
  font-size: 100%;
}
aside{
  background-color: #F0FFF0;
  border-radius: 0 5em 5em 5em;
  box-shadow: 1em 1em 1em #4c4f4d;
  padding: 1.5em;
  margin: 1em;

}
.mobile {
  display: inline;
}

/* add style fro the desktop class */
.desktop {
  display: none;
}
.logo{
    display: none;
}
.column {
  float: left;
  width: 33.33%;
  padding: 0px;

}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* table{
  float: left;
  width: 60%;
} */
@media only screen and (min-width: 685px) {
  .mobile {
      display: none;
    }

    /* sektop styles */
    .desktop {
      display: inline;
    }
    .contact{
    background-color: transparent;
    padding: 0;
    color: #1d1d1c;
    text-decoration: underline;

  }
  table{
    float: left;
  border: 0.1em solid #000000;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 58%;
}

th, td {
  text-align: center;
  border: 0.1em solid #000000;
}
section {
  padding-left: 2em;
 background-color: #ffffff;
  border-radius: 20px;
  float: right;
  width: 37%;
}
section h3 {
  padding-left: 1.5em;
}
section h2{
  margin-top: -0.5em;
  padding-left: 3em;
font-family: sans-serif;

}
section p {
  padding-left:2em;
}
article h4{
  padding-left: 3em;
  color: #6B8E23;
  font-size: 100%

}
article{
  float: left;
  margin: 0 1.5%;
  width: 60%;
  background-color: #F0FFF0;
  border-radius: 20%;
}
 }
@media only screen and (min-width: 865px){
  nav ul {
    margin: 0;
    padding-left: 0.5%;
    padding-right: 0.5%;
  }

  /* styles for teh li in nav */
  nav li {
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 25%;
  }

  /* styles for the links in the nav */
  nav li a {
    display: inline-block;
    padding: 0.7em;

  }
  .logo{
      display: inline;
  }



  #side {

    float: left;
    margin: 0 1.5%;
    width: 30%;
    height: 40%;
    background-color: #F0FFF0;
    border-radius: 20%;

  }
  #side h4 {
    padding-left: 3em;
    color: #6B8E23;
    font-size: 100%
  }
  #side ul li{
    align-items: center;

  }

  article h4{
    padding-left: 3em;
    color: #6B8E23;
    font-size: 100%


  }

}
